<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.dao.ArtworkMapper">
<!--    <cache type="com.frame.utils.RedisCache"></cache>-->
    <insert id="creatArtwork" parameterType="com.frame.po.Artwork" useGeneratedKeys="true" keyProperty="artwork_id">
        INSERT INTO artwork(artwork_comment,artwork_artistId,artwork_name,artwork_location,artwork_height,artwork_width,artwork_group) VALUES
            (#{artwork_comment},#{artwork_artistId},#{artwork_name},#{artwork_location},#{artwork_height},#{artwork_width},#{artwork_group})
    </insert>
    <update id="updateArtworkLocationById">
        UPDATE artwork SET artwork_location=#{0} where artwork_id=#{1}
    </update>
    <select id="getDefaultArtwork" resultType="com.frame.po.ArtworkForUser">
        SELECT * FROM artwork order by artwork_id desc limit #{0},15;
    </select>
    <select id="getArtworkById" resultType="com.frame.po.ArtworkWithLabel">
        SELECT * FROM artwork where artwork_id=#{artworkId}
    </select>
    <delete id="deleteArtwork">
        DELETE from artwork where artwork_artistId=#{1} and artwork_id=#{0}
    </delete>
    <select id="getUserArtwork" resultType="com.frame.po.ArtworkForUser">
        SELECT B.* ,IF(collection.collection_id>0,true,false) as hasCollect from
        (SELECT * from artwork where artwork_artistId=#{0} order by artwork_id desc limit #{1},#{2})B
        left join collection on collection.artwork_id=B.artwork_id and collection.user_id=#{3}
    </select>
    <update id="updateArtworkCollectCount">
        UPDATE artwork set artwork_collectCount=artwork_collectCount+#{1} where artwork_id=#{0}
    </update>
    <update id="updateArtworkCommentCount">
        UPDATE artwork set artwork_commentCount=artwork_commentCount+#{1} where artwork_id=#{0}
    </update>
</mapper>
