<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.dao.TagMapper">
    <insert id="createTag" useGeneratedKeys="true">
        INSERT INTO tag(tag_name, artwork_id) VALUES (#{1},#{0})
    </insert>
    <select id="getArtworkByTag" resultType="com.frame.po.ArtworkForUser">
        SELECT artwork.* , IF(collection_id>0,true,false) as hasCollect
        from
             (
                 SELECT * from tag where tag_id &lt;=
                                      (SELECT tag_id where tag_name like concat('%',#{0},'%') order by tag_id desc limit #{1},1)
                 order by tag_id desc limit 20
             ) B left join
             artwork on artwork.artwork_id=B.artwork_id
            left join collection on collection.user_id=#{2} and collection.artwork_id=B.artwork_id;
    </select>
    <select id="getTagOfArtwork" resultType="String">
        SELECT tag_name from tag where artwork_id=#{0}
    </select>
    <delete id="deleteTag">
        DELETE from tag where artwork_id=#{0} and tag_name=#{1}
    </delete>
    <select id="getTagCount" resultType="int">
        SELECT count(tag_id) from tag where artwork_id=#{0}
    </select>
    <select id="getSearchCountOfTag" resultType="int">
        SELECT count(tag_id) from tag where tag_name like concat('%',#{0},'%')
    </select>
</mapper>
